<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaol.springcloud.dao.DeptDao">

    <insert id="addDept" parameterType="com.xiaol.springcloud.pojo.Dept">
       insert into dept (dname, db_source) values(#{dname},DATABASE())
    </insert>

    <select id="queryById" resultType="com.xiaol.springcloud.pojo.Dept" parameterType="Long">
      select *from dept where deptno =#{deptno};
    </select>

    <select id="queryAl1" resultType="com.xiaol.springcloud.pojo.Dept">
      select * from dept;
    </select>

</mapper>